In [27]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import sqlite3

In [28]:
import numpy as np
import pandas as pd
from sqlalchemy.orm import sessionmaker

In [29]:
import datetime as dt

In [30]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [31]:
engine = create_engine("sqlite:///Unemployment.db")
conn = engine.connect()
Session = sessionmaker(bind=engine)
session = Session()

In [32]:
# reflect an existing database into a new model
Base= automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [33]:
inspector = inspect(engine)
inspector.get_table_names()

['COVID_Unemployment', 'Unemployment', 'Unemployment_New']

In [34]:
# results = session.query(Unemployment_New)

In [35]:
Base.classes.keys()

['COVID_Unemployment', 'Unemployment_New']

In [44]:
state_unemployment = Base.classes.COVID_Unemployment

In [45]:
session = Session(engine)

TypeError: __call__() takes 1 positional argument but 2 were given

In [39]:
first_row = session.query(state_unemployment).all()
first_row[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x21fc0fcc848>,
 'State': 'Alabama',
 'new_deaths_per_100_000': 0,
 'cumulative_deaths': 0,
 'new_cases_per_100_000': 0,
 'id': 1,
 'cumulative_deaths_per_100_000': 0.0,
 'Filedweekended': '2/1/20',
 'new_cases': 0,
 'InitialClaims': '2,170',
 'cumulative_cases_per_100_000': 0.0,
 'new_cases_7_day_rolling_avg': 0,
 'ReflectingWeekEnded': '1/25/20',
 'cumulative_cases': 0,
 'new_deaths': 0,
 'ContinuedClaims': '17,284',
 'CoveredEmployment': '1,923,741',
 'total_population': 4887871,
 'new_deaths_7_day_rolling_avg': 0,
 'Date': '2/1/20',
 'InsuredUnemploymentRate': 0.9}

In [46]:
columns = inspector.get_columns('COVID_Unemployment')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
State TEXT
Date TEXT
total_population INTEGER
cumulative_cases INTEGER
cumulative_cases_per_100_000 REAL
cumulative_deaths INTEGER
cumulative_deaths_per_100_000 REAL
new_cases INTEGER
new_cases_7_day_rolling_avg INTEGER
new_deaths INTEGER
new_deaths_7_day_rolling_avg INTEGER
new_deaths_per_100_000 INTEGER
new_cases_per_100_000 INTEGER
Filedweekended TEXT
InitialClaims TEXT
ReflectingWeekEnded TEXT
ContinuedClaims TEXT
CoveredEmployment TEXT
InsuredUnemploymentRate REAL

In [18]:
 conn.execute('SELECT * FROM Unemployment_New LIMIT 5').fetchall()

[(1, 'Alabama', '2020-01-04', '4,578', '12/28/2019', '18,523', '1,923,741', 0.96),
 (2, 'Alabama', '2020-01-11', '3,629', '1/4/2020', '21,143', '1,923,741', 1.1),
 (3, 'Alabama', '2020-01-18', '2,483', '1/11/2020', '17,402', '1,923,741', 0.9),
 (4, 'Alabama', '2020-01-25', '2,129', '1/18/2020', '18,390', '1,923,741', 0.96),
 (5, 'Alabama', '2020-02-01', '2,170', '1/25/2020', '17,284', '1,923,741', 0.9)]

In [43]:
#Looking at the tables
data = pd.read_sql("SELECT * FROM COVID_Unemployment", conn)
data.head()

,id,State,Date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000,Filedweekended,InitialClaims,ReflectingWeekEnded,ContinuedClaims,CoveredEmployment,InsuredUnemploymentRate
0,1,Alabama,2/1/20,4887871,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,2/1/20,"2,170",1/25/20,"17,284","1,923,741",0.90
1,2,Alabama,2/8/20,4887871,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,2/8/20,"2,176",2/1/20,"16,745","1,923,741",0.87
2,3,Alabama,2/15/20,4887871,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,2/15/20,"1,981",2/8/20,"16,571","1,923,741",0.86
3,4,Alabama,2/22/20,4887871,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,2/22/20,"1,735",2/15/20,"16,059","1,923,741",0.83
4,5,Alabama,2/29/20,4887871,0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0,2/29/20,"1,575",2/22/20,"14,721","1,923,741",0.77

In [47]:
#Looking at the tables
data = pd.read_sql("SELECT State, Filedweekended, ContinuedClaims FROM COVID_Unemployment", conn)
data.head()

     State Filedweekended ContinuedClaims
0  Alabama         2/1/20          17,284
1  Alabama         2/8/20          16,745
2  Alabama        2/15/20          16,571
3  Alabama        2/22/20          16,059
4  Alabama        2/29/20          14,721

In [15]:
results = conn.execute("SELECT State, date(Filedweekended), ContinuedClaims FROM unemployment_new")

In [17]:
claims_data = []

for result in results:
    claims_dict = {"State": result[0], "Filedweekended": result[1], "ContinuedClaims": result[2]}
    caims_data.append(claims_dict)
    print(result)

# return jsonify(claims_data)

NameError: name 'caims_data' is not defined

In [83]:
claims_data = []

for result in results:
    claims_dict = {"State": result[0], "Filedweekended": result[1], "ContinuedClaims": result[2]}
    caims_data.append(claims_dict)
    print(result)

return jsonify(claims_data)

SyntaxError: 'return' outside function (<ipython-input-83-8cca78d8d9c0>, line 8)

In [41]:
class Unemployment():
    
    def __init__(self, State, Filed_Week, Initial_Claims, Reflecting_Week_End, Continued_Claims, Covered_Employment, Insured_Unemployment_Rate):
        self.State = State
        self.Filed_Week = Filed_Week
        self.Initial_Claims = Initial_Claims
        self.Reflecting_Week_End = Reflecting_Week_End
        self.Continued_Claims = Continued_Claims
        self.Covered_Employment = Covered_Employment
        self.Insured_Unemployment_Rate = Insured_Unemployment_Rate